<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mangaread</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/">MangaRead</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="features">Manga</a>
				</li>
				<li class="active">
					<a href="news">News</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="contact">Profile</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="u-clearfix u-section-1" id="sec-ab20">
          <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-list u-list-1">
              <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-1">
                    <img alt="" class="u-image u-image-default u-image-1" data-image-width="375" data-image-height="589" src="images/8bda9ce1-f01a-48c3-e119-fd4354d81b90.jpg">
                    <h3 class="u-text u-text-default u-text-1">Клинок рассекающий демонов</h3>
                    <p class="u-text u-text-2"><b>Томов:</b>&nbsp;23, завершено<br><b>Перевод:</b>&nbsp;переведено<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">сверхъестественное</a>,&nbsp;<a href="https://readmanga.io/list/genre/shounen" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">сёнэн</a>,&nbsp;<a href="https://readmanga.io/list/genre/fantasy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3">фэнтези</a>,&nbsp;<a href="https://readmanga.io/list/genre/adventure" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4">приключения</a>,&nbsp;<a href="https://readmanga.io/list/genre/historical" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5">история</a>,&nbsp;<a href="https://readmanga.io/list/genre/tragedy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-6">трагедия</a>&nbsp;…
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-7">НАЧАТЬ ЧИТАТЬ<br>
                    </a>
                  </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-2">
                    <img alt="" class="u-image u-image-default u-image-2" data-image-width="375" data-image-height="598" src="images/cd100652-3e97-6b0e-a44b-2321b3c02433.jpg">
                    <h3 class="u-text u-text-default u-text-3">Наруто</h3>
                    <p class="u-text u-text-4"><b>Томов:</b>&nbsp;72, завершено<br><b>Перевод:</b>&nbsp;переведено<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/psychological" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-8">психология</a>,&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-9">сверхъестественное</a>,&nbsp;<a href="https://readmanga.io/list/genre/drama" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-10">драма</a>,&nbsp;<a href="https://readmanga.io/list/genre/romance" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-11">романтика</a>,&nbsp;<a href="https://readmanga.io/list/genre/comedy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-12">комедия</a>,&nbsp;<a href="https://readmanga.io/list/genre/martial_arts" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-13">боевые искусства</a>&nbsp;…
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-14"> НАЧАТЬ ЧИТАТЬ</a>
                  </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-3">
                    <img alt="" class="u-image u-image-default u-image-3" data-image-width="375" data-image-height="587" src="images/e79c114c-0760-2d04-42e2-ffb260ee9e5f.jpg">
                    <h3 class="u-text u-text-default u-text-5">Ван Пис</h3>
                    <p class="u-text u-text-6"><b>Томов:</b>&nbsp;78, выпуск продолжается<br><b>Перевод:</b>&nbsp;продолжается<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/martial_arts" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-15">боевые искусства</a>,&nbsp;<a href="https://readmanga.io/list/genre/comedy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-16">комедия</a>,&nbsp;<a href="https://readmanga.io/list/genre/drama" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-17">драма</a>,&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-18">сверхъестественное</a>,&nbsp;<a href="https://readmanga.io/list/genre/action" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-19">боевик</a>,&nbsp;<a href="https://readmanga.io/list/genre/fantasy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-20">фэнтези</a>&nbsp;…
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-21"> НАЧАТЬ ЧИТАТЬ</a>
                  </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-4">
                    <img alt="" class="u-image u-image-default u-image-4" data-image-width="384" data-image-height="604" src="images/66621be1-b420-01dc-6fa9-78fbc7fb50ed.jpg">
                    <h3 class="u-text u-text-default u-text-7">Магическая битва</h3>
                    <p class="u-text u-text-8"><b>Томов:</b>&nbsp;19, завершено<br><b>Перевод:</b>&nbsp;переведено<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/shounen" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-22">сёнэн</a>,&nbsp;<a href="https://readmanga.io/list/genre/school" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-23">школа</a>,&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-24">сверхъестественное</a>,&nbsp;<a href="https://readmanga.io/list/genre/drama" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-25">драма</a>,&nbsp;<a href="https://readmanga.io/list/genre/action" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-26">боевик</a>
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-27">НАЧАТЬ ЧИТАТЬ<br>
                    </a>
                  </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-5">
                    <img alt="" class="u-image u-image-default u-image-5" data-image-width="1059" data-image-height="1600" src="images/f4721289-a79f-ac11-d8e8-74210bd6015f.png">
                    <h3 class="u-text u-text-default u-text-9">Атака титанов</h3>
                    <p class="u-text u-text-10"><b>Томов:</b>&nbsp;34, завершено<br><b>Перевод:</b>&nbsp;переведено<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-28"></a>
                      <a href="https://readmanga.io/list/genre/postapocalypse" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-29">постапокалиптика</a>,&nbsp;<a href="https://readmanga.io/list/genre/action" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-30">боевик</a>,&nbsp;<a href="https://readmanga.io/list/genre/shounen" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-31">сёнэн</a>,&nbsp;<a href="https://readmanga.io/list/genre/seinen" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-32">сэйнэн</a>,&nbsp;<a href="https://readmanga.io/list/genre/fantasy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-33">фэнтези</a>
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-34">НАЧАТЬ ЧИТАТЬ<br>
                    </a>
                  </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-container-layout-6">
                    <img alt="" class="u-image u-image-default u-image-6" data-image-width="276" data-image-height="400" src="images/Bleach.jpg">
                    <h3 class="u-text u-text-default u-text-11">Блич</h3>
                    <p class="u-text u-text-12"><b>Томов:</b>&nbsp;74, завершено<br><b>Перевод:</b>&nbsp;переведено<br>Жанры:&nbsp;<a href="https://readmanga.io/list/genre/supernatural" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-35">сверхъестественное</a>,&nbsp;<a href="https://readmanga.io/list/genre/fantasy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-36">фэнтези</a>,&nbsp;<a href="https://readmanga.io/list/genre/action" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-37">боевик</a>,&nbsp;<a href="https://readmanga.io/list/genre/adventure" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-38">приключения</a>,&nbsp;<a href="https://readmanga.io/list/genre/comedy" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-39">комедия</a>,&nbsp;<a href="https://readmanga.io/list/genre/drama" hidelink="true" class="element-link u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-40">драма</a>&nbsp;…
                    </p>
                    <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-41">НАЧАТЬ ЧИТАТЬ<br>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="" target="_blank" class="facebook"></a><a href="" target="_blank" class="googleplus"></a><a href="" target="_blank" class="twitter"></a><a href="" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2022 Mangaread
			</p>
		</div>
	</div>
</body>
</html>